*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 body{
    font-family: 'Poppins', sans-serif;
    -webkit-font-smothing: antialiased;
    -moz-osx-font-smothing: grayscale;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(../../assets/2.jpg);
} 

.wrapper{
    width: 450px;
    background: transparent;
    border: 2px solid rgba(255,255,255, .3);
    backdrop-filter: blur(50px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) ;
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}

.wrapper h1{
    color: #ce2121;
    font-size: 50px;
    text-align: center;
}

.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border:3px solid rgba(255,255,255, .3) ;
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input:hover{
    border:2px solid #718096;
    background: #718096;
}

.input-box input::placeholder{
    color: #fff;
}

.input-box .icon{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
}

.wrapper .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forgot label input{
    accent-color: #718096;
    margin-right: 4px;
}

.remember-forgot a{
    color: #718096;
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
    color:  #fff;
}

.remember-forgot label{
    color: #718096;
}

.remember-forgot label:hover{
    color:  #fff;
}
.wrapper button{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #ce2121;
    font-weight: 700;
}

.wrapper button:hover{
    background: #ce2121;
    color: #fff;
}

.wrapper .register-link{
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px;
    color: #2d3748;
}

.register-link p a{
    color: #ce2121;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover{
    text-decoration: underline;
    color: #2d3748;
}