html {
  background-color: #dee7e9;
  margin: 0px;
}

/* MENU CSS */

.menu {
  color: white;
   /* REMINDER CHANGE WHITE TO SOME GRAY */
  background-color: #d62828;
  display: flex;
  justify-self: center;
  justify-content: space-evenly; 
  align-items: center;
  width: 95%;
  height: 6vh;
  margin: 1% auto;
  border-radius: 30px;
  box-shadow: rgba(41, 44, 46, 0.2) 0px 10px 24px;
}

/* SEARCH BAR CSS */

.searchBar {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 5vh;
  margin-bottom: 10vh;
}

.searchBarForm>button>img{
  width: 90%;
  filter: invert(100%);
}

.searchBarForm {
  border-radius: 50%;
  display: flex;
  height: 35px;
  position: relative;
}

.searchInput {
  width: 50vh;
  border-radius: 20px;
  border: 1px solid gainsboro;
  padding: 8px 12px;
}

.searchBarForm button {
  position: absolute; 
  right: 0px; 
  height: 34px; 
  width: 34px; 
  border: none;
  background-color: #d62828;
  color: white;
  border-radius: 20px 20px 20px 20px;
}

/* USED IN HOMEPAGE 1 */

.main {
  display: flex;
  align-content: center;
  justify-content: center;
  height: 83vh;
  width: 100%;
}
.mainText {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.mainText h1 {
  font-size: 5em;
  margin-bottom: 0px;
}
.mainText p {
  font-size: 2rem;
  padding: 5rem;
  text-align: justify;
}

.mainText button {
  width: 10em;
  height: 4em;
  border-radius: 50px;
  border: 0px;
  background-color: #d62828;
  color: aliceblue;
  font-weight: 600;
  font-size: 1.3em;
  padding: 0px;
  box-shadow: rgba(41, 44, 46, 0.2) 0px 10px 24px;
}
.mainPic {
  width: 50%;
  padding: 5%;
  
}

.pizzaIlustration {
  width: 50%;
  padding: 5%;
}

/* FOOTER CSS */

.footer hr {
  width: 95%;
  margin-top: 50px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
}

/* RECIPE ITEM CSS */

.recipeItem {
  display: flex;
  width: 20%;
  height: fit-content;
  background-color: #f8f8f8;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  margin: auto;
  flex-direction: column;
  padding-top: 1vi;
  margin-top: 20px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;}

.recipeTitle {
  align-self: start;
  padding-left: 10%;
  margin-bottom: 0px;
}

.cardImgContainer {
  position: relative;
  width: 75%;
  height: 10vi;
  border: 1px solid rgb(177, 177, 177);
  border-radius: 25px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;}

.cardImgContainer img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.cookingTime {
  position: absolute;
  bottom: 0; /* Position it at the top */
  height: 20%;
  left: 0; /* Position it at the left */
  background-color: rgba(255, 255, 255, 0.7); /* Adjust the background color and opacity */
  padding: 0px 15px;
  border-radius: 15px 15px 0px 0; /* Adjust the border-radius */
  display: flex;
  align-items: center;
  justify-content: center;
}

.cookingTime p {
  font-weight: 600;
}

.tagSlider {
  display: flex;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 25px;
  width: 80%;
  overflow-x: auto;
    
}

.tagSlider::-webkit-scrollbar {
  display: none; /* Hide the scrollbar */
}

.tagItem {
  background-color: #ffc7b1;
  color: #333;
  width: auto;
  padding: 5px 10px;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 10px; /* Adjust margin between tags */
  white-space: nowrap; /* Prevent tags from wrapping to new line */
  opacity: 1;
  transition: opacity 0.5s ease;
}

/* SIDE MENU CSS */

.sideMenu {
  width: 15vi;
  height: 100vh;
  background-color: #f8f8f8;
  border-radius: 0px 25px 25px 0px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5vh;

}

.sideMenuItem {
  display: flex;
  height: 1lh;
  flex-direction: row;
  align-items: center;
  margin: 5px 0;
  
}

.sideMenuItem img {
  height: 1lh;
  padding-right: 5px;
}

.sideMenuItem p {
  font-size: 1.5em;
  font-weight: 600;
}

.logoText {
  font-size: 2em;
  font-weight: 700;
}
.appBodyHP2 {
  display: flex;
  flex-direction: column;
  height: auto;
}

.trendingRecipes {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  gap: 30px;
  padding: 15px;
}

.trendingRecipes::-webkit-scrollbar {
  display: none; /* Hide the scrollbar */
}

.next2SideMenu {
  margin-left: 17vi;
  margin-bottom: 30px;
}

.HP2Title {
  color: #ce2121;
  font-size: 50px;
}



/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
