html {
  background-color: #dee7e9;
  margin: 0px;
}

.appBody{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* MENU CSS */

.menu {
  color: white;
   /* REMINDER CHANGE WHITE TO SOME GRAY */
  background-color: #d62828;
  display: flex;
  justify-self: center;
  justify-content: space-evenly;
  align-items: center;
  width: 95%;
  height: 6vh;
  margin: 1% auto;
  border-radius: 30px;
  box-shadow: rgba(41, 44, 46, 0.2) 0px 10px 24px;
}

.menuPic {
  height: 30px;
  margin-left: 20px;
}

.topMenu {
  width: 100%;
  height: 6vh;
  background-color: #d62828;
  color: #fff;
  display: none;
}

/* SEARCH BAR CSS */

.searchBar {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.searchBarForm>button>img{
  width: 60%;
  filter: invert(100%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.searchBarForm {
  border-radius: 50%;
  display: flex;
  height: 35px;
  position: relative;
}

.searchInput {
  width: 50vh;
  border-radius: 20px;
  border: 1px solid gainsboro;
  padding: 8px 12px;
}

.searchBarForm button {
  position: absolute;
  right: 0px;
  height: 34px;
  width: 34px;
  border: none;
  background-color: #d62828;
  color: white;
  border-radius: 20px 20px 20px 20px;
}

/* USED IN HOMEPAGE 1 */

.main {
  display: flex;
  align-content: center;
  justify-content: center;
  min-height: 83vh;
  overflow: auto;
  width: 100%;
}
.mainText {
  display: flex;
  width: 45%;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.mainText h1 {
  font-size: 60px;
  margin-bottom: 0px;
}
.mainText p {
  font-size: 30px;
  padding: 5rem;
  text-align: left;
}

.mainText button {
  width: fit-content;
  padding: 15px 25px;
  height: fit-content;
  border-radius: 50px;
  border: 0px;
  background-color: #d62828;
  color: aliceblue;
  font-weight: 600;
  font-size: 1.3em;
  /* padding: 0px; */
  box-shadow: rgba(41, 44, 46, 0.2) 0px 10px 24px;
}
.mainPic {
  width: 45%;
  padding: 5%;

}

.pizzaIlustration {
  width: 50%;
  padding: 5%;
}

/* FOOTER CSS */

.footer hr {
  width: 95%;
  /* margin-top: 50px; */
  position: relative;
  top: 0;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 95%;
  text-align: center;
  height: 6vh;

}

/* RECIPE ITEM CSS */

.recipeItem {
  display: flex;

  flex: 0 1 23%; /* Each item will take up 23% of the container width */
  box-sizing: border-box;
  margin: 10px;

  width: 20%;
  height: fit-content;
  background-color: #f8f8f8;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  /* margin: auto; */
  flex-direction: column;
  padding-top: 1vi;
  margin-top: 20px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;}

.recipeTitle {
  align-self: start;
  padding-left: 10%;
  margin-bottom: 0px;
}

.cardImgContainer {
  position: relative;
  width: 75%;
  height: 10vi;
  border: 1px solid rgb(177, 177, 177);
  border-radius: 25px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;}

.cardImgContainer img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.cookingTime {
  position: absolute;
  bottom: 0; /* Position it at the top */
  height: 20%;
  left: 0; /* Position it at the left */
  background-color: rgba(255, 255, 255, 0.7); /* Adjust the background color and opacity */
  padding: 0px 15px;
  border-radius: 15px 15px 0px 0; /* Adjust the border-radius */
  display: flex;
  align-items: center;
  justify-content: center;
}

.cookingTime p {
  font-weight: 600;
}

.tagSlider {
  display: flex;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 25px;
  width: 80%;
  overflow-x: auto;

}

.tagSlider::-webkit-scrollbar {
  display: none; /* Hide the scrollbar */
}

.tagItem {
  background-color: #ffc7b1;
  color: #333;
  width: auto;
  padding: 5px 10px;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 10px; /* Adjust margin between tags */
  white-space: nowrap; /* Prevent tags from wrapping to new line */
  opacity: 1;
  transition: opacity 0.5s ease;
}

/* SIDE MENU CSS */

.sideMenu {
  width: 15%;
  height: 100vh;
  background-color: #f8f8f8;
  border-radius: 0px 25px 25px 0px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5vh;
  z-index: 1;

}

.sideMenuItem {
  display: flex;
  height: 1lh;
  flex-direction: row;
  align-items: center;
  margin: 5px 0;

}

.sideMenuItem img {
  height: 1lh;
  padding-right: 5px;
}

.sideMenuItem p {
  font-size: 1.5em;
  font-weight: 600;
}

.logoText {
  font-size: 2em;
  font-weight: 700;
}

 /* HOMEPAGE 2 */
.appBodyHP2 {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  overflow: visible;
  width: 100%;
  justify-content: space-between;
}

.trendingRecipes {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  gap: 30px;
  padding: 15px;
  /* overflow: hidden; */
  width: 95%;
}

.trendingRecipes::-webkit-scrollbar {
  display: none;
  /* Hide the scrollbar */
}

.next2SM {
  width: 85%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.next2SideMenu {
  display: flex;
  flex-direction: column;
  width: 95%;
  /* margin-left: 15vi;
  margin-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px; */
}

.HP2Title {
  color: #ce2121;
  font-size: 50px;
}

.activeLink {
  background-color: #f0f0f0; /* Light gray background for the active link */
  color: #d62828; /* Red color for the text, adjust as needed */
}

.sideMenu a, .sideMenu a:visited, .sideMenu a:hover {
  text-decoration: none; /* Removes underline from all states */
  color: black; /*Ensures text color consistency */
}
.sideMenu a:active {
  color: #ce2121;
}

 /* EXPLORE PAGE */

.exploreItemLayout {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: flex-start;
  padding: 10px;
}

#exploreTitle {
  margin-left: 15px;
  margin-top: 3vh;
}
.next2SideMenu>hr{
  width: 95%;
  margin: auto;
  margin-top: 15px;
  color: #333;
}

 /* SORT BY FEATURE */
.sortByDiv {
  display: flex;
  justify-content: flex-end;
  margin: 10px;
  margin-right: 25px;
  flex-direction: row;
}

.sortByDiv select {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: white;
  cursor: pointer;
}

.sortByLabel {
  margin-right: 8px;
}

/* PROFILE PAGE */

.banner {
  height: 30vh;
  background-image: url("./assets/banner.jpg");
  background-size: cover;
}

.banner img {
  width: 100%;
}

.profilePhoto {
  width: 150px;
  position: relative;
  bottom: 75px;
  border: 5px solid #ce2121;
  border-radius: 50%;
  margin: auto;
}

.profileName {
  font-size: xx-large;
  text-align: center;
  position: relative;
  bottom: 60px;
  color: #ce2121;
  margin-bottom: -40px;
}

.profileRecipeTitle {
  color: #333;
  padding-left: 30px;
  font-size: x-large;
}

.next2SideMenuSettings {
  width: 95%;
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  overflow: visible;
  /* align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  position: relative;
  left: 20%;
  /* top: 60px; */
  /* height: calc(100vh - 60px);
  margin-top: 60px;  */
}

.settingsMenu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 120px;
  color: #333;
  height: 100vh;
}
.sMenuContent {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  width: 80%;
  text-align: center;
  /* font-family: 'Montserrat', Arial, Helvetica, sans-serif; */
  font-weight: 600;
  color: #333;
}
.sMenuContent hr {
  width: 100%;
}

.sMenuItem{
  padding-top: 10px;
  padding-bottom: 10px;
}

.settingsContents {
  width: 100%;
  min-height: 100vh;
  overflow: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  color: #333;

}
.accSettings {
  width: 100%;
  display: flex;
  height: auto;
  flex-direction: column;
  align-items: flex-start;
  /* padding-top: 80px; */
  /* padding-bottom: 80px; */
}

.functionHeading {
  font-size: 22px;
  font-weight: 600;
}


.majorHeading {
  font-size: 24px;
  font-weight: 700;
}

.settingsText {
  font-size: 18px;
  font-weight: 400;
}

.settingsButton{
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: fit-content;
  margin: 10px 0px;
  background-color: #d62828;
  color: #fff;
  font-weight: 700;
  border: 0px;
  border-radius: 20px;

}

.hrSetting {
  height: 80%;
  margin: 0px;
  position: sticky;
}

.accSettings hr{
  width: 100%;
  margin: 15px 0px;
}


.next2SideMenuSettings {
  width: 95%;
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  position: relative;
  left: 15%;
  height: 100vh;
  margin: 0px; */

}

.appBodySettingsS {
  width: 100%;
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  overflow: visible;
  /* align-items: flex-start; */
  /* justify-content: start; */
}

.settingsProfilePic {
  width: 150px;
}

.ProfilePicSettings {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.ProfilePicText {
  width: calc(100% - 200px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link  {
  text-decoration: none;
  color: #333;
}

.link:visited {
  text-decoration: none;
  color: #333;
}

.link:hover {
  color: #D03D18;
}

.saveChangesDiv {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.input-container {
  position: relative;
  display: flex;
  align-items: center;
  border: 2px solid #fff;
  background-color: #fff;
  border-radius: 15px;
  padding: 5px 10px;
  width: 50%;
}

.input-container input:focus{
  background-color: white;
}

#nickname {
  border: none;
  outline: none;
  flex-grow: 1;
  border-radius: 10px;
  padding: 8px 10px;
  font-size: 16px;
  background-color: #fff;
}

.clear-button {
  background: none;
  border: none;
  color: #D03D18;
  cursor: pointer;
  font-size: 20px;
  outline: none;
}

.nicknameLabel {
  margin-bottom: 10px;
  margin-right: 30px;
}

.nicknameSettings {
  display: flex;
  flex-direction: row;
  align-items: center;
}





@media only screen and (max-width: 768px){
   /* MENU FROM HOMEPAGE1 */
  .menu {
    background-color: #d62828;
    display: flex;
    justify-self: center;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 6vh;
    box-shadow: rgba(41, 44, 46, 0.2) 0px 10px 24px;
    border-radius: 0%;
    margin: 0;
    position: sticky;
    top: 0;
  }
  .appBody {
    min-height: 100vh;
    overflow: visible;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  .main {
    display: flex;
    flex-direction: column;
    min-height: 88vh;
    overflow: auto;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  .mainText {
    width: 100%;
    /* text-align: center; */
  }

  .mainText h1{
    font-size: 40px;
    margin-bottom: 10px;
  }

  .mainText p {
    font-size: 20px;
    padding: 5%;
    text-align: center;
  }

  .pizzaIlustration {
    width: 70%;
  }

  .footer {
    /* position: fixed; */
    /* bottom: 0; */
    height: 6vh;
    /* margin-bottom: 10px; */
  }

  .topMenu {
    width: 100%;
    height: 6vh;
    background-color: #d62828;
    color: #fff;
    display: flex;
    justify-content: left;
    align-items: center;
  }

  .appBodyHP2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .sideMenu {
    display: none;
  }

  /* TOP MENU CSS */

  .nav {
    background: #d62828;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }

  .nav-icon, .sidebar-nav {
    /* margin-left: 2rem; */
    font-size: 2rem;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;
  }

  .sidebar-nav {
    background: #d62828;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 350ms;
    z-index: 10;
  }

  .sidebar-wrap {
    width: 100%;
  }
  .sidebar-nav {
    transition: left 0.3s;
    left: -100%; /* Initially hidden */
  }

  .sidebar-nav.show {
    left: 0; /* Shown when sidebar is toggled */
  }


  .sidebar-link {
    display: flex;
    color: #e1e9fc;
    justify-content: start;
    align-items: center;
    padding: 20px;
    list-style: none;
    height: 60px;
    text-decoration: none;
    font-size: 18px;
  }

  .sidebar-link:hover {
    background: #252831;
    border-left: 4px solid #632ce4;
    cursor: pointer;
  }



}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}  */
