html {
  background-color: #fdf8d6;
  margin: 0px;
}

.menu {
  color: white;
   /* REMINDER CHANGE WHITE TO SOME GRAY */
  background-color: #d62828;
  display: flex;
  justify-self: center;
  justify-content: space-evenly; 
  align-items: center;
  width: 95%;
  height: 6vh;
  margin: 1% auto;
  border-radius: 30px;
  box-shadow: rgba(41, 44, 46, 0.2) 0px 10px 24px;
}

.searchBar {
  width: 100%;
  display: flex;
  justify-content: center;
}

.searchBarForm {
  border-radius: 50%;
  display: flex;
  height: 35px;
  position: relative;
}

.searchInput {
  width: 100%;
  border-radius: 20px;
  border: 1px solid gainsboro;
  padding: 8px 12px;
}

.searchBarForm button {
  position: absolute; 
  right: 0px; 
  height: 34px; 
  width: 34px; 
  border: none;
  background-color: rebeccapurple;
  color: white;
  border-radius: 20px 20px 20px 20px;
}

.main {
  display: flex;
  align-content: center;
  justify-content: center;
  height: 83vh;
  width: 100%;
}
.mainText {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.mainText h1 {
  font-size: 5em;
  margin-bottom: 0px;
}
.mainText p {
  font-size: 2rem;
  padding: 5rem;
  text-align: justify;
}

.mainText button {
  width: 10em;
  height: 4em;
  border-radius: 50px;
  border: 0px;
  background-color: #d62828;
  color: aliceblue;
  font-weight: 600;
  font-size: 1.3em;
  padding: 0px;
  box-shadow: rgba(41, 44, 46, 0.2) 0px 10px 24px;
}
.mainPic {
  width: 50%;
  padding: 5%;
  
}

.pizzaIlustration {
  width: 50%;
  padding: 5%;
}

.footer hr {
  width: 95%;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 5vh;
}

.recipeItem {
  display: flex;
  width: 20%;
  height: fit-content;
  background-color: #f3e5e5;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  margin: auto;
  flex-direction: column;
  padding-top: 1vi;

}

.recipeTitle {
  align-self: start;
  padding-left: 10%;
}

.cardImgContainer {
  width: 75%;
  height: 10vi;
  border: 1px solid rgb(177, 177, 177);
  border-radius: 25px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;}

.cardImgContainer img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.tagSlider {
  display: flex;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
  overflow-x: auto;
}

.tagSlider::-webkit-scrollbar {
  display: none; /* Hide the scrollbar */
}

.tagItem {
  background-color: #f3e5e5;
  color: #333;
  padding: 5px 10px;
  border-radius: 20px;
  margin-right: 10px; /* Adjust margin between tags */
  white-space: nowrap; /* Prevent tags from wrapping to new line */
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
